@import "vendor/typopro-web/web/TypoPRO-BukhariScript/TypoPRO-BukhariScript.css";

#splash {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:white;
}

#splash div {
    position: absolute;
    width: 100%;
    top: 35%;
    left: 0%;
    text-align: center;
    font-family: "TypoPRO Bukhari Script";
    font-weight: normal;
    font-size: 14pt;
}


#spinner {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:white;
}

#spinner div {
    position: absolute;
    width: 100%;
    top: 35%;
    left: 0%;
    text-align: center;
    font-family: "TypoPRO Bukhari Script";
    font-weight: normal;
    font-size: 18pt;
}