@import (inline) "../../vendor/typopro-web/web/TypoPRO-BukhariScript/TypoPRO-BukhariScript.css";

#splash {
  position:fixed;
  width: 100%;
  height: 100%;
  background:white;
  z-index: 2000;
}

#splash div {
  position: absolute;
  width: 100%;
  top: 35%;
  left: 0%;
  text-align: center;
  font-family: "TypoPRO Bukhari Script";
  font-weight: normal;
  font-size: 14pt;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: progress;
}