

<div class="topthing">
    <h2 class="text-center">Portfolio</h2>
    <p class="text-center">Shuffle pictures?</p>
    <p class="text-center">
        <a class="btn btn-info" ng-click="btn_sort()">Okay</a>
    </p>
</div>


<div class="container" style="padding-top: 20px;">
   <div ng-repeat="thumb in thumbs" class="row text-center">
        <div ng-repeat="img in thumb" class="col-sm-4">
                <a><img ng-src="img/thumbs/{{img}}" class="img-responsive img-thumbnail"></a>
        </div>
    </div>
</div>