.jumbotron #jumbo {

}

.topthing {
  display:block;
  width:100%;
  height:60px;
  background-color: #eee;
  overflow:scroll;

  margin-bottom: 20px;
}


.img-thumbnail {
  border-radius: 5px !important;
  border: 0px !important;
  border-radius: 30px !important;
  padding: 10px !important;
  //max-width: 250px !important;
}

.col:not(:first-child),.col:not(:last-child) {
  padding-right:7px;
  padding-left:7px;
}